$font-family:'Cinzel', serif;
$font-family1:'Varela', sans-serif;
$clr-black:rgb(107, 104, 104);
$clr-black1:rgb(218, 204, 204);
$aboutsec1:#ececec;
$aboutclr3: rgba(236, 236, 236, 1);

$aboutsec2:#ebe2db;
